@model Contact
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>İletişim Güncelle</h3>

<form method="post">
    <input type="hidden" asp-for="ContactId" />
    <label>Adres</label>
    <input type="text" class="form-control" asp-for="Address" />
    <br>
    <label>Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    @* <span class="text-danger" asp-validation-for="Email"></span> *@
    <br>

    <label>Telefon</label>
    <input type="text" class="form-control" asp-for="Phone" />
    <br>
    <label>Harita Url</label>
    <input type="text" class="form-control" asp-for="MapUrl" />
    <br>
    <button class="btn btn-outline-primary">Güncelle</button>

</form>